{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>Welcome to My Awesome Cart, your one-stop online shopping destination for all your needs! We are dedicated to providing you with a seamless and enjoyable shopping experience from the comfort of your own home. Our vast selection of products caters to a wide range of interests and preferences, ensuring that you'll find exactly what you're looking for.

        Browse through our extensive inventory of high-quality items, meticulously curated to meet the latest trends and demands. From fashion and beauty essentials to home decor, electronics, sports equipment, and beyond, we have something for everyone. Whether you're searching for a stylish outfit for a special occasion or the perfect gift for a loved one, we've got you covered.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"> Happy Shopping.</a></p>
    </div>
  </div>
</main>



{% endblock %}
{% block js %} {% endblock %}